body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      height: 100vh;
    }

    .sidebar {
      width: 250px;
      background-color: #0074f0;
      padding: 20px;
      box-sizing: border-box;
    }

    .sidebar button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px;
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      text-align: left;
      border-radius: 5px;
      transition: background-color 0.6s;
    }

    .sidebar button:hover {
      background-color: #003366; /* Azul escuro */
      color: white;               /* Deixa o texto branco pra dar contraste */
    }


    .main {
      flex: 1;
      background-color: #ffffff;
;
      padding: 30px;
      box-sizing: border-box;
      overflow-y: auto;
    }

    .main h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .tabela-semanal {
      display: grid;
      grid-template-columns: 120px repeat(5, 1fr);
      gap: 5px;
    }

    .celula {   
      background-color: #ddd;
      padding: 10px;
      border: 1px solid #0c0808;
      text-align: center;
      cursor: pointer;
    }

    .header {
      background-color: #0074f0;
      font-weight: bold;
      
    }

    .observacao-box {
      margin-top: 20px;
      padding: 15px;
      background-color: #ddd;
      border-radius: 5px;
    }

    textarea {
      width: 100%;
      height: 100px;
      padding: 8px;
      box-sizing: border-box;
    }

    .hidden {
      display: none;
    }

    button.salvar {
      margin-top: 10px;
      padding: 8px 12px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }